h1{
    
    text-decoration-line: underline;
    font-weight: bolder;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}
table{
   
    font-family: 'Times New Roman', Times, serif;
   
    padding: 10px;
    font-size: large;  

}
thead{
    font-weight: bolder;
}
th,td{
    text-align: center;
}

h1{
    text-align: center;
}
h4{
    text-align: center;
}