 
  <div class="container-fluid">
      <div class="container">
        <img src="/assets/images/BookstoreAdminLogo.png" alt="BookstoreAdminLogo">
      </div>
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" class="btn btn-success  btn-large  mr-3">Sign in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="btn btn-success  btn-large  mr-3">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" class="btn btn-success  btn-large  mr-3">Cart</a>
              </li>
            </ul>
          </div>
      </nav>
      <nav class="navbar navbar-expand-md navbar-light bg-light topnav-centered" id="nav1">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngFor="let c of cat">
                <button class="btn btn-secondary" (click)="Category(c.categoryId)">{{c.categoryName}}</button>
            </li>
            
          </ul>
        </div>
      </nav>
  </div>